.hoverCard {
  &:hover {
    text-shadow: none;
    box-sizing: border-box;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    z-index: 1;
  }
}

:host ::ng-deep .p-card {
  .p-card-content {
    padding: 0;
  }
}