.hoverCard {
  &:hover {
    text-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 2;
  }
}