.hoverCard {
  &:hover {
    text-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    z-index: 1;
  }
}