<figure class="text-center">
  <img class="w-6rem h-6rem border-circle mx-auto" [src]="character.image" [alt]="character.name">
  <div class="pt-2 text-center mt-1">
    <blockquote>
      <p class="text-lg">
        "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, quo!"
      </p>
    </blockquote>
    <figcaption class="font-medium">
      <div class="text-cyan-500">
        {{ character.name }}
      </div>
      <div class="text-300">
        {{ character.location.name }}
      </div>
    </figcaption>
  </div>
</figure>