<figure class="text-center animate__animated animate__pulse">
  <img
    class="w-6rem h-6rem border-circle mx-auto"
    [src]="character.image"
    [alt]="character.name"
  />
  <div class="pt-2 text-center mt-1">
    <blockquote>
      <p class="text-lg">
        {{ character.gender | gender }} is
        <span class="font-italic">{{ character.species | lowercase }}</span>
        species whose origin is
        <span class="font-italic">{{ character.origin.name }}</span
        >. {{ character.gender | gender: false }} is currently
        <span class="font-italic">{{ character.status | lowercase }}.</span>
      </p>
    </blockquote>
    <figcaption class="font-medium">
      <div class="text-cyan-500">
        {{ character.name }}
      </div>
      <div class="text-300">
        {{ character.location.name }}
      </div>
    </figcaption>
  </div>
</figure>
